@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>گزارشات مدیریتی برنامه فروش</h1>
    <p class="lead">Sale Distribute Management Dashboard</p>
    <br />
    <p><a href="http://shoniz.com" target="_blank" class="btn btn-primary btn-lg">سایت شونیز &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>گزارش رسیدی</h2>
        <p>
            توضیحات رسیدی
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Receipts", routeValues: null)">
                باز کن <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>گزارش رسیدی</h2>
        <p>
            توضیحات رسیدی
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Receipts", routeValues: null)">
                باز کن <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>گزارش رسیدی</h2>
        <p>
            توضیحات رسیدی
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Receipts", routeValues: null)">
                باز کن <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </p>
    </div>
</div>
