@using WebSaleDistribute.Core
@using System.Dynamic
@model  dynamic

@{
    ViewBag.Title = "خانه";
}


<div class="jumbotron" dir="rtl">
    <h1>گزارشات مدیریتی فروش</h1>
    <h2 dir="ltr" style="padding-left: 100px;">Sale Distribute Management Dashboard</h2>
    <br />
    <p><a href="http://shoniz.com" target="_blank" class="btn btn-primary btn-lg"> سایت شونیز &raquo;</a> @Html.GenerateRelayQrCode("http://www.shoniz.com", 50, 50)</p>
</div>


<div class="row" dir="rtl">
    @for (int index = 0; index < ((IEnumerable<ExpandoObject>)Model).Count(); index++)
    {
        if ((index + 1) % 3 == 0)
        {
            <div class="clearfix"></div>
        }
        <div class="col-md-4 col-xs-4">
            <h4>@Model[index].MenuName</h4>
            <br />
            <p>
                <a class="btn btn-default" href="@Url.Action(Model[index].PageName, "Reports", routeValues: null)">
                    باز کن <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
        </div>
    }
</div>


