@using WebSaleDistribute.Core
@using WebSaleDistribute.Core.Enums

@model DotNet.Highcharts.Highcharts

@{
    var id = "CustomersOrdersChart_" + Guid.NewGuid().ToString();

    var opt = new PanelAjaxOptions(id)
    {
        UpdateTargetId = "CustomersOrdersChart"
    };
}


<div id="CustomersOrdersChart">

        @using (Ajax.BeginForm("CustomersOrdersChart", "Reports", opt, new { @id = id, @class = "refreshable-panel" }))
        {
            @(Html.PanelItem(new PanelItemOption()
                {
                    Id = id,
                    Body = Model?.ToHtmlString(),
                    Title = "نمودار درخواست مشتریان",
                    Url = "#",
                    GlyphIcon = "stats",
                    HasDetailLink = false,
                    HasSettingPanel = false,
                    PanelType = PanelType.danger,
                    IsRefreshable = true
                })
            )
        }

    </div>



@*<script type="text/javascript">

    $(document).ready(function () {
        $.get("GetOfficerOrderStatisticsChart", function (dataArr) {
            BindChart(dataArr);
            //ch.series[0].data = dataArr;
        });
    });

    function BindChart(seriesArr) {
        $('#container').highcharts({
            lang: {
                drillUpText: "برگشت"
            },
            chart: {
                name: 'customersChart',
                type: 'column',
                backgroundColor: '#CCE6FF',
                borderColor: '#6495ED',
                borderWidth: 2,
                className: 'dark-container',
                plotBackgroundColor: '#F0FFF0',
                plotBorderColor: '#6495ED',
                plotBorderWidth: 1,
                events: {
                    drilldown: function (e) {
                        if (!e.seriesOptions) {
                            var chart = this;
                            chart.showLoading('در حال بار گزاری داده های سطح دوم');
                            $.get(e.point.drilldown_url + e.point.id, function (dataArr) {
                                data = {
                                    name: e.point.name,
                                    data: dataArr
                                }
                                chart.hideLoading();
                                chart.addSeriesAsDrilldown(e.point, data);
                            });
                            chart.setTitle({
                                text: 'Quarter wise Revenue Report'
                            });
                        }
                    }
                }
            },
            title: {
                text: 'Year wise Revenue Report'
            },
            xAxis: {
                type: 'category'
            },


            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            series: [{
                name: 'Year',
                colorByPoint: true,
                pointWidth: 50
                ,data: seriesArr
            }],

            drilldown: {
                series: [{
                    pointWidth: 50
                }]
            }
        });
    }

</script>

<div id="container" style="height: 400px;"></div>*@
