@using WebSaleDistribute.Core
@using WebSaleDistribute.Core.Enums

@model DotNet.Highcharts.Highcharts


@{
    var id = "ReceiptsChart_" + Guid.NewGuid().ToString();

    AjaxOptions opt = new AjaxOptions
    {
        UpdateTargetId = "ReceiptsChart",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loading_" + id,
        OnSuccess = "loadPanels();"
    };
}


<div id="ReceiptsChart">

    @using (Ajax.BeginForm("ReceiptsChart", "Reports", opt, new { @id = id, @class = "refreshable-panel" }))
    {
        @(Html.PanelItem(new PanelItemOption()
            {
                Id = id,
                Body = Model.ToHtmlString(),
                Title = "نمودار رسیدی",
                Url = "#",
                GlyphIcon = "stats",
                HasDetailLink = false,
                HasSettingPanel = false,
                PanelType = PanelType.danger,
                IsRefreshable = true
            })
        )
    }

</div>