@using System.Dynamic
@using WebSaleDistribute.Core
@using WebSaleDistribute.Core.Enums

@model Tuple<List<string>, List<ExpandoObject>>

@{
    var id = "ReceiptsTable_" + Guid.NewGuid().ToString();

    var opt = new PanelAjaxOptions(id)
    {
        UpdateTargetId = "ReceiptsTable",
        OnSuccess = "loadPanels(); loadDataTables();"
    };
}

<div id="ReceiptsTable">

    @using (Ajax.BeginForm("ReceiptsTable", "Reports", opt, new { @id = id, @class = "refreshable-panel" }))
    {
        @(Html.PanelItem(new PanelItemOption()
    {
        Id = id,
        Body = Html.TableItem("receipts", Model.Item1, Model.Item2, Tuple.Create(0, OrderType.desc)).ToHtmlString(),
        Title = "لیست رسیدی ها",
        Url = "#",
        GlyphIcon = "list-alt",
        HasDetailLink = false,
        HasSettingPanel = false,
        PanelType = PanelType.danger,
        IsRefreshable = true,
        ExportToExcelAction = Url.Action("ExportToExcel", "Tools",
                    new { username = ViewBag.Username, actionName = ViewContext.RouteData.Values["action"].ToString() })
    })
        )
    }

</div>