
@section styles
{    
    @Scripts.Render("~/bundles/highcharts")
}

@section scripts
{
    <script>
        // Call DataTable() func in all of the jquery tables
        $(document).ready(function () {
            loadDataTables(10, [8, 9]);
        })
    </script>
}

<br />

<div class="container">
    <ul class="nav nav-pills">
        <li style="font-size: 30px; float: right;">@ViewBag.Title</li>
        <li class="active"><a data-toggle="pill" href="#chart"> <span class="glyphicon glyphicon-stats"></span> نمودار</a></li>
        <li><a data-toggle="pill" href="#grid">جدول</a></li>
    </ul>

    <div class="tab-content">
        <div id="chart" class="tab-pane fade in active" dir="ltr">
            <!-- data -->
            <br />
            @Html.Action("ReceiptsChart", "Reports")
            <!-- /data -->
        </div>
        <div id="grid" class="tab-pane fade">
            <!-- data -->
            <br />
            @Html.Action("ReceiptsTable", "Reports")
            <!-- /data -->
        </div>
    </div>

</div>

