
@using GridMvc.Html
@using WebSaleDistribute.Models
@model IEnumerable<WebSaleDistribute.Models.CustomerPointFilterModels>


@helper  StatusColumn(CustomerPointFilterModels m)
{

switch (m.Status)
{
    case 2:
            <text> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></text>;
        break;

    case 1:
            <text> <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></text>;
        break;
    case 0:
            <text> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></text>;
        break;
}
}

@(
    Html.Grid(Model).Named("tblCustomer")
        .Columns(columns =>
        {
            columns.Add(f => f.PersonID).Titled("کد مشتری");
            columns.Add(f => f.PersonName).Titled("نام مشتری");
            columns.Add(f => f.Status).Titled("وضعیت").Encoded(false)
        .Sanitized(false).RenderValueAs(f => StatusColumn(f));
        }))