@font-face {
    font-family: 'iransans';
    src: url('../fonts/iransans.ttf');
}

body {
    background-image: url(images/site_cover.jpg);
    -ms-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    z-index: -1;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "iransans";
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(255, 255, 255, 0.35);
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    font-family: "iransans";
    z-index: 2;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    font-size: 15px;
}

span {
    font-size: 13px;
}

li {
    font-size: 15px;
}
