@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/iransans.ttf');
}

/** {
     font-family: "IRANSans", "IRANSans-web", "B Nazanin";
}*/

body {
    background-image: url(../images/site_cover.jpg);
    -ms-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    z-index: -1;
    padding-top: 55px;
    padding-bottom: 20px;
    font-family: "IRANSans", "B Nazanin";
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 1px;
    padding-right: 10px;
    background: rgba(255, 255, 255, 0.8);
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    font-size: 15px;
}

li {
    font-size: 15px;
}

h1 {
    font-size: 50px;
}

.control-label {
    float: right;
}

.control {
    float: right;
}

.dropdown-menu > li > a {
    direction: ltr;
}

/* Bootstrap Message Alert */
#MessagePanel {
    position: fixed;
    top: 90px;
    right: 30px;
    z-index: 1;
}

hr{
    display: block;
    margin-top: 1em;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-top: 1px solid #2c50b2;
    border-width: 1px;    
}