@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "خطا";
    ViewData["dir"] = "rtl";
}


<h1 class="text-danger">خطا</h1>
<h2 class="text-danger">
    پردازش درخواست شما با خطا مواجه شد.
</h2>
<br />
<br />
<h4>
    ممکن است این اتفاق به دلایل زیر اتفاق افتاده باشد:
</h4>
<br />

<h5>
    1. شما مجوز دسترسی به این صفحه را نداشته باشید.
    <br />
    <br />
    2. اعتبار زمانی ورود شما منقضی شده باشد.
    <br />
    <br />
    3. سرور به دلایلی قادر به انجام درخواست شما نیست.
</h5>

<br />

@if (Model != null && HttpContext.Current.IsDebuggingEnabled)
{
    <div>
        <p>
            <b>Exception:</b> @Model.Exception.Message<br />
            <b>Controller:</b> @Model.ControllerName<br />
            <b>Action:</b> @Model.ActionName
        </p>
        <div style="overflow:scroll">
            <pre>
               @Model.Exception.StackTrace
            </pre>
        </div>
    </div>
}