@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = " 404 خطا";
    ViewData["dir"] = "rtl";
}


<h1 class="text-danger">خطا 404</h1>
<h2 class="text-danger">
    پردازش درخواست شما با خطا مواجه شد.
</h2>
<br />
<br />
<h4>
    آدرس وارده نا معتبر میباشد!
</h4>