@using WebSaleDistribute.Core
@using WebSaleDistribute.Core.Enums

@model TableOption

@{
    var id = "SaleReturnInvoicesTable_" + Guid.NewGuid().ToString();

    var opt = new PanelAjaxOptions(id)
    {
        UpdateTargetId = "SaleReturnInvoicesTable"
    };

    opt.OnSuccess += $" loadDataTables('{Model.Id}', {Model.DisplayRowsLength}, [{string.Join(", ", Model.CurrencyColumns)}]);";
}


<div id="SaleReturnInvoicesTable">

    @using (Ajax.BeginForm("SaleReturnInvoicesTable", "Warehouse", opt, new { @id = id, @class = "refreshable-panel" }))
    {
        @(Html.PanelItem(new PanelItemOption()
    {
        Id = id,
        Body = Html.TableItem(Model).ToHtmlString(),
        Title = $"اقلام برگشتی شماره {ViewBag.InvoiceSerial}",
        IsRefreshable = true,
        HasDetailLink = true,
        DetailUrlContent = "<b>تایید اقلام برگشتی انتخابی</b>",
        Url = $@"location.href = ""{Url.Content($"~/Warehouse/CertificationSelectedReturnedInvoiceDetails/?invoiceSerial={ViewBag.InvoiceSerial}&rows=")}""+getTableSelectedRows();",
        GlyphIcon = "list-alt",
        HasSettingPanel = false,
        PanelType = PanelType.success
    })
        )
    }

</div>
