@using System.Dynamic
@using WebSaleDistribute.Core
@using WebSaleDistribute.Core.Enums

@model Tuple<List<string>, List<ExpandoObject>>

@{
    var id = "EntryInWayTables_" + Guid.NewGuid().ToString();

    var opt = new PanelAjaxOptions(id)
    {
        UpdateTargetId = "EntryInWayTable"
    };

    opt.OnSuccess += " loadDataTables();";
}

<div id="EntryInWayTable">

    @using (Ajax.BeginForm("EntryInWayTable", "Warehouse", opt, new { @id = id, @class = "refreshable-panel" }))
    {
        @(Html.PanelItem(new PanelItemOption()
            {
                Id = id,
                Body = Html.TableItem("entryInWay", Model.Item1, Model.Item2).ToHtmlString(),
                Title = $" توراهی شماره {ViewBag.QrCode}",
                HasDetailLink = true,
                DetailUrlContent = "<b>ورود به انبار</b>",
                Url = Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content($"~/Warehouse/EntryInWayToWarehouse/{ViewBag.QrCode}"),
                GlyphIcon = "list-alt",
                HasSettingPanel = false,
                PanelType = PanelType.info
            })
        )
    }

</div>