@{
    ViewData["dir"] = "ltr";
}

@section scripts
{
    <script>
        // Call DataTable() func in all of the jquery tables
        $(document).ready(function () {
            loadDataTables('saleReturnInvoices', 10, [6]);
        })
    </script>
}

<br />

<h2 dir="rtl">@ViewBag.Title</h2>

<div class="container">
    <div class="tab-content">
        <div id="grid" class="tab-pane fade in active">
            <!-- data -->
            <br />
            @Html.Action("SaleReturnInvoicesTable", "Warehouse")
            <!-- /data -->
        </div>
    </div>
</div>
